.footer {
    width: auto;


    .footer-container {
        display: flex;
        justify-content: center;
        text-align: center;
        padding-right: 40em;
        padding-top: 20px;
        background-color: #0E0E0E;

        p {
            color: #4F5955;
        }

        span {
        }
    }
}
