<header>
    <section class="header">
      <div class="topbar">
        <p>Klarabergsviadukten 90, 111 64 Stockholm</p>
        <div class="socials">
            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>
        <div class="header-menu">
          <img class="onatrix"  src="/media/c3xh0qjw/onatrix-brand.svg">
            <div class="info-menu">
              <a href="/about/">About</a>
              <a href="/service-page/">Services</a>
              <a href="/projects-page/">Projects</a>
              <a href="/contact-page/">Contact</a>
              <a class="search" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
        </div>
    </section>
</header>