.hero {
    position: relative;


    img {
        width: 1920px;
    }

    .info-text {
        position: relative;
        bottom: 25em;
        left: 22em;

        h1 {
            font-family: "Poppins" sans-serif;
            font-size: 70px;
            font-weight: bold;
            color: #4F5955;
            width: 550px;
            line-height: 1;
        }

        p {
            font-family: "Poppins" sans-serif;
            font-size: 16px;
            font-weight: 400;
            color: #4F5955;
            width: 450px;
            margin-bottom: 1em;
        }

        .btn-primary {
            margin-top: 20px;
            padding: 20px 45px;
            background-color: #4F5955;
            color: #F2EDDC;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-size: 20px;
            font-family: "Poppins" sans-serif;
            font-weight: 600;

            &:hover {
                background-color: #000000;
            }
        }
    }
}
