.contact {
    margin-top: 5em;

    .contact-container {
        
        .image-container {
            position: relative;
            left: 17em;

            img {
                background-color: #F7F7F7;
                position: relative;
                right: 18.5em;
                bottom: 4em;
                max-width: 1920px;
                max-height: 245px;
            }
        }

        .contact-text {
            text-align: center;
            position: relative;
            bottom: 16em;

            h1 {
                font-family: "Poppins", sans-serif;
                font-size: 40px;
            }

            a {
                font-size: 14px;
                font-family: "Poppins", sans-serif;
                margin: 1em;
            }

            .col {
                color: #D9C3A9;
            }
        }
    }
}

.projects-contact {
    background-color: #FFFFFF;
    margin-top: -8em;
    margin-bottom: 5em;


    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 5em;
        margin-bottom: -5.5em;

        .container-left {

            img {
                margin-left: 20em;
                margin-top: 2em;
                width: 485px;
                height: 676px;
            }
        }

        .container-right {
            margin-top: 8em;
            margin-left: 8.5em;

            .title {

                h2 {
                    font-family: "Poppins", sans-serif;
                    font-size: 40px;
                    font-weight: 750;
                    color: #4F5955;
                    width: 50%;
                    line-height: 1.2;
                    margin-bottom: 1em;
                }
            }

            .location {
                margin-bottom: 1em;

                i {
                    color: #D9C3A9;
                }

                span {
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    font-weight: 600;
                    color: #4F5955;
                    margin-left: 10px;
                }

                p {
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    font-weight: 100;
                    color: #535656;
                    margin-left: 22px;
                    margin-top: 0.5em;
                }
            }

            .phone {
                margin-bottom: 1em;


                i {
                    color: #D9C3A9;
                }

                span {
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    font-weight: 600;
                    color: #4F5955;
                    margin-left: 10px;
                }

                p {
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    font-weight: 100;
                    color: #535656;
                    margin-left: 22px;
                    margin-top: 0.5em;
                }
            }

            .email {

                i {
                    color: #D9C3A9;
                }

                span {
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    font-weight: 600;
                    color: #4F5955;
                    margin-left: 10px;
                }

                p {
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    font-weight: 100;
                    color: #535656;
                    margin-left: 24px;
                    margin-top: 0.5em;
                }
            }
        }
    }
}



.img-map {
    position: relative;
    width: 100%;
    margin-bottom: 15em;

    img {
        display: block;
        width: 100%;
        height: auto;
        z-index: 0;
    }

    .contact-form-holder,
    .title-holder {
        text-align: center;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 100%;
        max-width: 600px;
        text-align: center;



        h6 {
            font-size: 1.2em;
            color: #4F5955;
            position: relative;
            font-size: 18px;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            color: #D9C3A9;
            position: relative;
            top: 4em;
        }

        h2 {
            font-family: "Poppins", sans-serif;
            font-size: 50px;
            color: #4F5955;
            margin: 0.5em 0;
            color: #000;
            position: relative;
            top: 1em;
            width: 95%;
        }

        p {
            font-family: "Poppins", sans-serif;
            font-size: 17px;
            font-style: italic;
            position: relative;
            width: 550px;
            top: 4em;
            color: #535656;
        }
    }




    #contactForm {
        display: grid;
        margin-bottom: 6em;
        grid-template-areas:
            "name-input phone" "email type" "button button";

        .input-name {
            grid-area: name-input;
        }

        .input-email {
            grid-area: email;
        }

        .input-phone {
            grid-area: phone;
        }

        .input-type {
            grid-area: type;
        }

        button {
            grid-area: button;
            width: 20%;
            place-self: center;
        }

        gap: 1em;
        padding: 10em;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 1070px;
        height: 407px;
        position: relative;
        top: 20em;
        right: 30em;
    }

    input, select {
        width: 535px;
        height: 40px;
        padding: 1em;
        border: 1px solid #ccc;
        border-radius: 4px;
        position: relative;
        top: 13em;
        margin-right: 1.5em;
    }

    input::placeholder {
        color: #9C9EA6;
        font-style: italic;
    }

    select {
        background-color: #fff;
        height: 5.2em;
        width: 563px;
        margin-top: 1em;
    }

    input {
        margin-top: 1em;
    }

    .input-error {
        border: 2px solid red;
        background-color: #ffe6e6;
    }

    .input-valid {
        border: 2px solid green;
        background-color: #e6ffe6;
    }


    .btn-primary {
        background-color: #4F5955;
        color: #fff;
        padding: 0.75em 1.5em;
        border: none;
        border-radius: 4px;
        font-size: 1.2em;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 170px;
        height: 70px;
        margin-top: 13em;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        color: #F2EDDC;
    }

    .btn-primary:hover {
        background-color: #D9C3A9;
    }
}

.logo-img {
    position: relative;
    left: 22em;
    top: 10em;
    z-index: 1;
    width: 2000px;
    margin-bottom: 15em;

    
}


