.projects-details-main {
    margin-top: 5em;

    .projects-details-main-container {
        
        .image-container {
            position: relative;
            left: 17em;

            img {
                background-color: #F7F7F7;
                position: relative;
                right: 18.5em;
                bottom: 4em;
                max-width: 1920px;
                max-height: 245px;
            }
        }

        .projects-details-text {
            text-align: center;
            position: relative;
            bottom: 16em;

            h1 {
                font-family: "Poppins", sans-serif;
                font-size: 40px;
            }

            a {
                font-size: 14px;
                font-family: "Poppins", sans-serif;
                margin: 1em;
            }

            .col {
                color: #D9C3A9;
            }
        }
    }
}




.content {
    display: flex;
    margin-left: 20em;
    
    .container {
        display: flex;

        .container-left {


            .title {
                text-align: start;


                i {
                    color: #9C9EA6;
                }

                span {
                    color: #9C9EA6;
                    margin-left: 0.5em;
                }

                h5 {
                    color: #4F5955;
                    margin-top: 1em;
                    margin-bottom: 1em;
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    font-weight: 600;
                    width: 75%;
                }
            }

            .suggestions {
                margin-top: 2em;

                h4 {
                    font-family: "Poppins", sans-serif;
                    font-size: 18px;
                    font-weight: 700;
                    color: #4F5955;
                }

                ul {
                    text-align: start;
                    margin-left: -1em;

                    li {
                        color: #5D8C87;

                        p {
                            color: #535656;
                            font-family: "Poppins", sans-serif;
                            font-size: 14px;
                            font-weight: 300;
                            width: 72%;
                            line-height: 1.5;
                        }
                    }
                }
            }

            .img-text {
                margin-top: 2em;
                margin-bottom: 2em;
                display: flex;
                align-items: flex-start;
                gap: 20px;


                img {
                    max-width: 370px;
                    height: auto;
                }

                .text {
                    display: flex;
                    flex-direction: column;

                    h4 {
                        font-family: "Poppins", sans-serif;
                        font-size: 18px;
                        font-weight: 700;
                        color: #4F5955;
                    }

                    p {
                        font-family: "Poppins", sans-serif;
                        font-size: 15px;
                        font-weight: 300;
                        color: #535656;
                        width: 65%;
                        margin-top: 0.45em;
                        line-height: 1.4;
                    }
                }
            }

            .main-text {

                h5 {
                    font-family: "Poppins", sans-serif;
                    font-size: 18px;
                    font-weight: 700;
                    color: #4F5955;
                    width: 70%;
                    margin-bottom: 1em;
                }

                p {
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    font-weight: 300;
                    color: #535656;
                    width: 74%;
                    line-height: 1.8;
                }

                img {
                    margin-top: 0.5em;
                    margin-bottom: 1.5em;
                }
            }

            .text-ending {
                margin-bottom: 4em;

                h5 {
                    font-family: "Poppins", sans-serif;
                    font-size: 18px;
                    font-weight: 700;
                    color: #4F5955;
                }

                p {
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    font-weight: 300;
                    color: #535656;
                    width: 74%;
                    line-height: 1.8;
                }
            }

            .bottom-holder {
                display: flex;
                gap: 1em;
                margin-bottom: 2em;


                .tag {
                    border: 1px solid transparent;
                    background-color: #F2EDDC;
                    border-radius: 100px;
                    padding-left: 2em;
                    padding-right: 2em;
                    padding-top: 1em;
                    text-align: center;
                    width: 70px;
                    height: 15px;

                    &:hover {
                        cursor: pointer;
                    }
                }

                p {
                    color: #4F5955;
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    font-weight: 300;
                }

                h5 {
                    margin-top: 0.25em;
                    color: #535656;
                    font-family: "Poppins", sans-serif;
                    font-size: 22px;
                }
            }
        }

        .container-right {
            width: 200px;
            margin-right: 30em;
            margin-top: 27em;

            h5 {
                font-family: "Poppins", sans-serif;
                font-size: 22px;
                color: #4F5955;
                
                
            }

            .tag-holder {
                width: 67%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                flex-wrap: wrap;
                gap: 1rem;
                
            }

            .tag {
                border: 0.5px solid rgb(248, 243, 243);
                border-radius: 100px;
                margin-top: 1em;
                


                &:hover {
                    color: rgb(199, 16, 16);
                    cursor: pointer;
                    animation: ease-in-out;
                    transition: 0.4s;
                }
            }

            p {
                font-family: "Poppins", sans-serif;
                font-size: 13px;
                padding-top: 0.75em;
                margin-bottom: -1em;
                width: 140px;
                text-align: center;
                color: #4F5955;
            }

            .help-frame {
                margin-top: 5em;
                background-color: #4F5955;
                width: 300px;
                height: 223px;
                border: 1px solid transparent;
                color: #fff;
                border-radius: 5px;



                h4 {
                    font-family: "Poppins", sans-serif;
                    font-size: 22px;
                    color: #F2EDDC;
                    font-size: 1.2rem;
                    margin-top: 1em;
                    margin-left: 1em;
                }

                p {
                    text-align: start;
                    width: 80%;
                    font-family: "Poppins", sans-serif;
                    font-weight: 100;
                    color: #FFFFFF;
                    font-size: 0.9rem;
                    margin-bottom: 20px;
                    margin-left: 1.5em;
                    line-height: 1.5;
                }

                .email-form {
                    display: flex;
                    align-items: center;
                    margin-top: 1em;
                    padding-left: 10px;
                    padding-right: 10px;
                    padding-top: 10px;


                    input {
                        flex: 1;
                        padding: 15px 15px;
                        border: none;
                        border-radius: 5px 0 0 5px;
                        outline: none;
                        font-size: 0.9rem;
                        font-family: "Poppins", sans-serif;
                        font-style: italic;
                        max-width: calc(100% - 60px);
                        color: #9C9EA6;
                    }

                    ::placeholder {
                        color: #9C9EA6;
                    }



                    button {
                        background-color: #fff;
                        color: #4F5955;
                        border: none;
                        padding: 15px 12px;
                        border-radius: 0 5px 5px 0;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 1rem;
                        transition: background-color 0.3s ease;

                        &:hover {
                            background-color: #ddd;
                        }

                        i {
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
}

.projects-details {
    margin-top: 5em;
    background-color: #F7F7F7;
    margin-bottom: 5em;


    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 5em;
        margin-bottom: -5.5em;

        .container-left {

            img {
                margin-left: 20em;
                margin-top: 2em;
                width: 485px;
                height: 676px;
            }
        }

        .container-right {
            margin-top: 8em;
            margin-left: 8.5em;

            .title {

                h2 {
                    font-family: "Poppins", sans-serif;
                    font-size: 40px;
                    font-weight: 750;
                    color: #4F5955;
                    width: 50%;
                    line-height: 1.2;
                    margin-bottom: 1em;
                    
                }
            }

            .location {
                margin-bottom: 1em;

                i {
                    color: #D9C3A9;
                }

                span {
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    font-weight: 600;
                    color: #4F5955;
                    margin-left: 10px;
                }

                p {
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    font-weight: 100;
                    color: #535656;
                    margin-left: 22px;
                    margin-top: 0.5em;
                }
            }

            .phone {
                margin-bottom: 1em;

                i {
                    color: #D9C3A9;
                }

                span {
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    font-weight: 600;
                    color: #4F5955;
                    margin-left: 10px;
                }

                p {
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    font-weight: 100;
                    color: #535656;
                    margin-left: 22px;
                    margin-top: 0.5em;
                }
            }

            .email {

                i {
                    color: #D9C3A9;
                }

                span {
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    font-weight: 600;
                    color: #4F5955;
                    margin-left: 10px;
                }

                p {
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    font-weight: 100;
                    color: #535656;
                    margin-left: 24px;
                    margin-top: 0.5em;
                }
            }
        }
    }
}

