.services {
    background-color: #FFFFFF;
    margin-top: 15em;
    margin-bottom: 3em;


    .title {
        margin-top: -25em;
        margin-left: 11em;

        h2 {
            margin-left: 10em;
            width: 40%;
            text-align: center;
        }
    }

    .businesses {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 16em;
        max-width: 350px;

        .box {
            border: 1px solid #e7e7e7;
            box-sizing: border-box;
            background-color: #FFFFFF;
            width: 410px;
            height: 460px;
            margin-top: 3em;
            margin: 30px;


            &:hover {
                border: 1px solid blue;
            }


            h5 {
                font-family: "Poppins", sans-serif;
                font-weight: 600;
                font-size: 20px;
                color: #4F5955;
                text-align: start;
                margin-top: 1.5em;
                margin-left: 2em;
            }

            img {
                width: 100%;
                margin-top: 1em;
            }

            p {
                text-align: start;
                line-height: 1.5;
                width: 70%;
                margin-top: 1em;
                margin-left: 1.5em;
                color: #535656;
                font-size: 14px;
                font-family: "Poppins", sans-serif;
                font-weight: 100;
            }
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        a {
            text-decoration: none;
            color: #333;
            padding: 8px 16px;
            margin: 0 5px;
            border-radius: 5px;
            border: 1px solid transparent;
            transition: all 0.3s ease;

            &:hover {
                background-color: #f0f0f0;
            }
        }

        .page {
            &.active {
                border: 1px solid #ccc;
                border-radius: 50%;
                background-color: #f9f9f9;
                font-weight: bold;
            }
        }

        .prev {
            font-weight: bold;
            color: #EAEAEA;

            &:hover {
                color: red;
            }
        }

        .next {
            font-weight: bold;
            color: #4B5264;

            &:hover {
                color: red;
            }
        }
    }
}

.service-main {
    margin-top: 5em;
    .service-main-container {

        .image-container {
            position: relative;
            left: 17em;

            img {
                background-color: #F7F7F7;
                position: relative;
                right: 18.5em;
                bottom: 4em;
                max-width: 1920px;
                max-height: 245px;
            }
        }

        .service-text {
            text-align: center;
            position: relative;
            bottom: 16em;

            h1 {
                font-family: "Poppins" sans-serif;
                font-size: 40px;
            }

            a {
                font-size: 14px;
                font-family: "Poppins" sans-serif;
                margin: 1em;
            }

            .col {
                color: #D9C3A9;
            }
        }
    }
}

.service-project {
    margin-top: 1em;
    background-color: #F7F7F7;



    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 20em;

        .container-left {

            img {
                margin-left: 15em;
                margin-top: 2em;
                width: 485px;
                height: 676px;
            }
        }

        .container-right {
            margin-top: 8em;
            margin-left: 8.5em;

            .title {

                h2 {
                    font-family: "Poppins", sans-serif;
                    font-size: 40px;
                    font-weight: 700;
                    color: #4F5955;
                    width: 50%;
                    line-height: 1.2;
                    margin-bottom: 1em;
                }
            }

            .location {
                margin-bottom: 1em;

                i {
                    color: #D9C3A9;
                }

                span {
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    font-weight: 600;
                    color: #4F5955;
                    margin-left: 10px;
                }

                p {
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    font-weight: 100;
                    color: #535656;
                    margin-left: 22px;
                    margin-top: 0.5em;
                }
            }

            .phone {
                margin-bottom: 1em;

                i {
                    color: #D9C3A9;
                }

                span {
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    font-weight: 600;
                    color: #4F5955;
                    margin-left: 10px;
                }

                p {
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    font-weight: 100;
                    color: #535656;
                    margin-left: 22px;
                    margin-top: 0.5em;
                }
            }

            .email {

                i {
                    color: #D9C3A9;
                }

                span {
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    font-weight: 600;
                    color: #4F5955;
                    margin-left: 10px;
                }

                p {
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    font-weight: 100;
                    color: #535656;
                    margin-left: 24px;
                    margin-top: 0.5em;
                }
            }
        }
    }
}
