<?xml version="1.0" encoding="utf-8"?>
<Content Key="1fd066a9-225d-4b02-8d8c-f3ab39824c94" Alias="About" Level="2">
  <Info>
    <Parent Key="76fce837-e3cf-4700-a9c0-0ba09722bda7">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2024-09-23T08:47:54</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ec1cbaae-7308-4748-b613-3747d3fee1ef">aboutPage</Template>
  </Info>
  <Properties>
    <aboutBkgImg>
      <Value><![CDATA[[
  {
    "key": "3d652a91-afa2-4613-882f-a559b58a4a00",
    "mediaKey": "86afc5f9-16b6-4e80-a189-87d43dffd36f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutBkgImg>
    <aboutHomeLink>
      <Value><![CDATA[Home]]></Value>
    </aboutHomeLink>
    <aboutLink>
      <Value><![CDATA[About]]></Value>
    </aboutLink>
    <aboutUsHeadline>
      <Value><![CDATA[About Us]]></Value>
    </aboutUsHeadline>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <projectEmail>
      <Value><![CDATA[E-mail address]]></Value>
    </projectEmail>
    <projectEmailText>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </projectEmailText>
    <projectHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </projectHeadline>
    <projectImage>
      <Value><![CDATA[[
  {
    "key": "a87e417d-08c6-4222-9234-d2683dbe0d95",
    "mediaKey": "b081fadf-d447-459c-a285-53a24bc95c7d",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectImage>
    <projectLocation>
      <Value><![CDATA[Office location]]></Value>
    </projectLocation>
    <projectLocationText>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </projectLocationText>
    <projectNumber>
      <Value><![CDATA[Phone number]]></Value>
    </projectNumber>
    <projectNumberText>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </projectNumberText>
    <reviewsHeadline>
      <Value><![CDATA[Trusted by some Biggest Names]]></Value>
    </reviewsHeadline>
    <reviewsHeadline2>
      <Value><![CDATA[Swebank]]></Value>
    </reviewsHeadline2>
    <reviewsKevinImg>
      <Value><![CDATA[[
  {
    "key": "c9da2ea3-55b8-4891-99a2-10799b4877a2",
    "mediaKey": "f20061b6-0388-409f-9751-c4851ccda2b4",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </reviewsKevinImg>
    <reviewsQuote>
      <Value><![CDATA[Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals.]]></Value>
    </reviewsQuote>
    <reviewsRatingImg>
      <Value><![CDATA[[
  {
    "key": "3bd2fed9-7138-4150-8d63-9f1df115bcd1",
    "mediaKey": "22b4f13b-8e6b-43bd-be35-6957cc330a01",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </reviewsRatingImg>
    <reviewsText>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </reviewsText>
    <reviewsTitle>
      <Value><![CDATA[GREAT REVIEWS FOR OUR SERVICES]]></Value>
    </reviewsTitle>
    <storyImg>
      <Value><![CDATA[[
  {
    "key": "04bff3b0-7f85-4790-b46f-73ed64a23434",
    "mediaKey": "6b4fdba5-6924-4f71-bafe-bebe2f7afe4c",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </storyImg>
    <storyQuote>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </storyQuote>
    <storyText1>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae metus a massa lobortis sollicitudin. Cras ut nulla quam. Maecenas tempus felis quis lorem malesuada vehicular.]]></Value>
    </storyText1>
    <storyText2>
      <Value><![CDATA[Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum.]]></Value>
    </storyText2>
    <storyText3>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </storyText3>
    <storyText4>
      <Value><![CDATA[Phasellus laoreet, sapien id euismod hendrerit, nibh ligula hendrerit libero, sit amet hendrerit elit turpis nec velit. Praesent tincidunt nisi at vulputate ornare. Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum elit at urna dapibus viverra. Etiam lectus libero, condimentum eget justo ac, accumsan suscipit libero.]]></Value>
    </storyText4>
    <storyText5>
      <Value><![CDATA[Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum  i commodo, eros quis consequat consequat.]]></Value>
    </storyText5>
    <storyText6>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </storyText6>
    <storyText7>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </storyText7>
    <storytText>
      <Value><![CDATA[Tina Fox - CEO & Founder at Onatrix]]></Value>
    </storytText>
    <teamsBoxHeadline1>
      <Value><![CDATA[Brandon Newton]]></Value>
    </teamsBoxHeadline1>
    <teamsBoxHeadline2>
      <Value><![CDATA[AJ Carter]]></Value>
    </teamsBoxHeadline2>
    <teamsBoxHeadline3>
      <Value><![CDATA[Aaron Lambert]]></Value>
    </teamsBoxHeadline3>
    <teamsBoxHeadline4>
      <Value><![CDATA[Tina Fox]]></Value>
    </teamsBoxHeadline4>
    <teamsBoxHeadline5>
      <Value><![CDATA[Brandon Kerr]]></Value>
    </teamsBoxHeadline5>
    <teamsBoxHeadline6>
      <Value><![CDATA[Miranda Dayton]]></Value>
    </teamsBoxHeadline6>
    <teamsBoxHeadline7>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </teamsBoxHeadline7>
    <teamsBoxImage1>
      <Value><![CDATA[[
  {
    "key": "4e74922d-60ae-4d42-a33e-f2be03fdeb92",
    "mediaKey": "c7522f4d-711d-4e44-b3d7-8c74f35d0c0c",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamsBoxImage1>
    <teamsBoxImage2>
      <Value><![CDATA[[
  {
    "key": "faf91641-07e2-4021-9ad9-801c9595597c",
    "mediaKey": "c744d363-30a5-4066-9438-4d88cd612220",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamsBoxImage2>
    <teamsBoxImage3>
      <Value><![CDATA[[
  {
    "key": "076e16eb-d679-4a0a-913f-f9e3b48a044c",
    "mediaKey": "c80a24ec-3b00-44fa-922b-f45c802373f3",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamsBoxImage3>
    <teamsBoxImage4>
      <Value><![CDATA[[
  {
    "key": "0fb7bb66-2cbb-4b18-9dec-020af70b6a60",
    "mediaKey": "4d922240-a1b1-4af0-9bfd-a65507bb996c",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamsBoxImage4>
    <teamsBoxImage5>
      <Value><![CDATA[[
  {
    "key": "042e42d7-8843-4a65-b515-9bf686f5d734",
    "mediaKey": "519a18ee-13f6-4594-bd13-01a608313d96",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamsBoxImage5>
    <teamsBoxImage6>
      <Value><![CDATA[[
  {
    "key": "17034c64-ea9c-45a7-9cbb-86f326b56100",
    "mediaKey": "de35a23c-9561-45da-9bb9-a16b9e030fcd",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamsBoxImage6>
    <teamsBoxImage7>
      <Value><![CDATA[[
  {
    "key": "0dde4584-52eb-4943-b18f-6237dce0e6b8",
    "mediaKey": "dcb32219-64d5-4b83-9d6d-705e3ab830a5",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamsBoxImage7>
    <teamsBoxText1>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </teamsBoxText1>
    <teamsBoxText2>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </teamsBoxText2>
    <teamsBoxText3>
      <Value><![CDATA[Business Specialist at Onatrix]]></Value>
    </teamsBoxText3>
    <teamsBoxText4>
      <Value><![CDATA[CEO & Founder at Onatrix]]></Value>
    </teamsBoxText4>
    <teamsBoxText5>
      <Value><![CDATA[CFO & Co-Founderat Onatrix]]></Value>
    </teamsBoxText5>
    <teamsBoxText6>
      <Value><![CDATA[Head of HR at Onatrix]]></Value>
    </teamsBoxText6>
    <teamsBoxText7>
      <Value><![CDATA[Banking Advisor at Swedbank]]></Value>
    </teamsBoxText7>
    <teamsHeadline>
      <Value><![CDATA[A Team of profesionals with years of experience]]></Value>
    </teamsHeadline>
    <teamsTitle>
      <Value><![CDATA[OUR EXPERT]]></Value>
    </teamsTitle>
  </Properties>
</Content>