<?xml version="1.0" encoding="utf-8"?>
<Content Key="17346dc6-4b1d-49e4-9a42-4bacb9a8462e" Alias="Contact - Page" Level="2">
  <Info>
    <Parent Key="76fce837-e3cf-4700-a9c0-0ba09722bda7">Home</Parent>
    <Path>/Home/ContactPage</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2024-09-30T13:32:49</CreateDate>
    <NodeName Default="Contact - Page" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0e51dd1c-a0b4-4b61-a536-43be43d278a8">contactPage</Template>
  </Info>
  <Properties>
    <contactButtonText>
      <Value><![CDATA[Submit]]></Value>
    </contactButtonText>
    <contactFormHeadline>
      <Value><![CDATA[Request a call back]]></Value>
    </contactFormHeadline>
    <contactFormHeadline2>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </contactFormHeadline2>
    <contactFormText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus]]></Value>
    </contactFormText>
    <contactInputText1>
      <Value><![CDATA[Financial Consulting]]></Value>
    </contactInputText1>
    <contactInputText2>
      <Value><![CDATA[Business Strategy]]></Value>
    </contactInputText2>
    <contactInputText3>
      <Value><![CDATA[Marketing]]></Value>
    </contactInputText3>
    <contactInputText4>
      <Value><![CDATA[Other]]></Value>
    </contactInputText4>
    <contactMainHeadline>
      <Value><![CDATA[Contact Us]]></Value>
    </contactMainHeadline>
    <contactMainImg>
      <Value><![CDATA[[
  {
    "key": "ab4e95f5-6521-44aa-ae4b-268160419bf1",
    "mediaKey": "227bb8e2-9ff9-4fcb-8fe1-968120eb335a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactMainImg>
    <contactMainLink1>
      <Value><![CDATA[Home]]></Value>
    </contactMainLink1>
    <contactMainLink2>
      <Value><![CDATA[Contact]]></Value>
    </contactMainLink2>
    <contactMapImg>
      <Value><![CDATA[[
  {
    "key": "8dc8aeee-3d09-4a7c-8035-b0357d1bdd5f",
    "mediaKey": "4a9255f3-feac-4e22-b8a4-f32c92375669",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactMapImg>
    <contactPartnersImg>
      <Value><![CDATA[[
  {
    "key": "f4d0115c-e66f-40a8-9008-025e9452bbb8",
    "mediaKey": "e181cb16-8c17-4c43-ae1b-f164ee3452de",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactPartnersImg>
    <contactProjectHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </contactProjectHeadline>
    <contactProjectImg>
      <Value><![CDATA[[
  {
    "key": "4d4cc2e3-bf49-45b7-a45d-4ca4f5b5556c",
    "mediaKey": "b081fadf-d447-459c-a285-53a24bc95c7d",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactProjectImg>
    <contactProjectText1>
      <Value><![CDATA[Office location]]></Value>
    </contactProjectText1>
    <contactProjectText2>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactProjectText2>
    <contactProjectText3>
      <Value><![CDATA[Phone number]]></Value>
    </contactProjectText3>
    <contactProjectText4>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactProjectText4>
    <contactProjectText5>
      <Value><![CDATA[E-mail address]]></Value>
    </contactProjectText5>
    <contactProjectText6>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactProjectText6>
    <pageTitle>
      <Value><![CDATA[Contact]]></Value>
    </pageTitle>
  </Properties>
</Content>