<?xml version="1.0" encoding="utf-8"?>
<Content Key="76fce837-e3cf-4700-a9c0-0ba09722bda7" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-09-19T11:43:10</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f1a38553-f8f0-462c-ae3b-61a7ee0608b3">homePage</Template>
  </Info>
  <Properties>
    <aboutHeadline>
      <Value><![CDATA[We have 40 years experience]]></Value>
    </aboutHeadline>
    <aboutQuote>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </aboutQuote>
    <aboutSectionTitle>
      <Value><![CDATA[ABOUT US]]></Value>
    </aboutSectionTitle>
    <aboutSignature>
      <Value><![CDATA[Tina Fox - CEO & Founder]]></Value>
    </aboutSignature>
    <aboutSignatureImage>
      <Value><![CDATA[[
  {
    "key": "72955435-f577-4020-bc1a-77f60b7eaea2",
    "mediaKey": "2ba2eca5-d08d-447c-89cf-a773c967f6cd",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutSignatureImage>
    <aboutText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.]]></Value>
    </aboutText>
    <btnText>
      <Value><![CDATA[Submit]]></Value>
    </btnText>
    <clientBtnText>
      <Value><![CDATA[Read our story]]></Value>
    </clientBtnText>
    <clientsHeadline>
      <Value><![CDATA[We are trusted by more than]]></Value>
    </clientsHeadline>
    <clientsHeadline2>
      <Value><![CDATA[4.000+ clients]]></Value>
    </clientsHeadline2>
    <clientsImage1>
      <Value><![CDATA[[
  {
    "key": "aa0e90ac-f11d-4195-9eea-0c1684769b17",
    "mediaKey": "f62f8de6-5ac8-4902-88d7-f84a9178fa74",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </clientsImage1>
    <clientsImage2>
      <Value><![CDATA[[
  {
    "key": "409bd36b-1d20-404f-8082-8ff9ea493ff5",
    "mediaKey": "6ee13a7d-80d1-4433-9d93-c92985871d26",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </clientsImage2>
    <clientsText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.]]></Value>
    </clientsText>
    <formHeadline>
      <Value><![CDATA[Request a call back]]></Value>
    </formHeadline>
    <formText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat]]></Value>
    </formText>
    <heroBackgroundImg>
      <Value><![CDATA[[
  {
    "key": "f092a493-474a-425d-9ad2-b1f18f2c2c00",
    "mediaKey": "f0d3f718-9409-4230-9b21-87ac0fc92b28",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroBackgroundImg>
    <heroButtonText>
      <Value><![CDATA[Contact us]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[/contact]]></Value>
    </heroButtonUrl>
    <heroHeadline>
      <Value><![CDATA[We bring success to you]]></Value>
    </heroHeadline>
    <heroText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim]]></Value>
    </heroText>
    <imageHeadline1>
      <Value><![CDATA[Risk Management]]></Value>
    </imageHeadline1>
    <imageHeadline2>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </imageHeadline2>
    <imageHeadline3>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </imageHeadline3>
    <imageHeadline4>
      <Value><![CDATA[Tax & Trust]]></Value>
    </imageHeadline4>
    <imageHeadline5>
      <Value><![CDATA[Financial Advisor]]></Value>
    </imageHeadline5>
    <imageHeadline6>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </imageHeadline6>
    <ourServiceHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </ourServiceHeadline>
    <ourServiceText>
      <Value><![CDATA[OUR SERVICES]]></Value>
    </ourServiceText>
    <pageTitle>
      <Value><![CDATA[Home]]></Value>
    </pageTitle>
    <partnersImage>
      <Value><![CDATA[[
  {
    "key": "37ba0b1d-c360-4dbb-a26b-84ed863d5d98",
    "mediaKey": "c5a1e3b9-a6e3-47fd-954a-b541922dcdf3",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnersImage>
    <projectBoxHeadline1>
      <Value><![CDATA[Annual Reports for Juva inc.]]></Value>
    </projectBoxHeadline1>
    <projectBoxHeadline2>
      <Value><![CDATA[Business Insights for SP Group Inc.]]></Value>
    </projectBoxHeadline2>
    <projectBoxHeadline3>
      <Value><![CDATA[Financial Advisors to Irra Corp Inc.]]></Value>
    </projectBoxHeadline3>
    <projectBoxHeadline4>
      <Value><![CDATA[Budget Planning for Buccura Inc.]]></Value>
    </projectBoxHeadline4>
    <projectBoxImage>
      <Value><![CDATA[[
  {
    "key": "3988664d-9292-4f02-bc4e-f2ef409b5986",
    "mediaKey": "0a282695-f073-48c5-a048-eeaddd31e3e3",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectBoxImage>
    <projectBoxImage2>
      <Value><![CDATA[[
  {
    "key": "16061c44-0b3f-4953-a4b0-20fbf1cd3e4b",
    "mediaKey": "2bb8b75b-8ff7-47ac-af99-bd5b28c35052",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectBoxImage2>
    <projectBoxImage3>
      <Value><![CDATA[[
  {
    "key": "ecc06dd9-0ac7-4567-b782-900a4058e8a0",
    "mediaKey": "7cf1b99b-d8ec-4b4e-9bef-5b7b987bc49f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectBoxImage3>
    <projectBoxImage4>
      <Value><![CDATA[[
  {
    "key": "53d09e84-8e17-4bd4-8b36-523d47a70278",
    "mediaKey": "b5cbaa80-42c4-42bf-b6e9-a91374850bce",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectBoxImage4>
    <projectBoxText1>
      <Value><![CDATA[Financial Services]]></Value>
    </projectBoxText1>
    <projectBoxText2>
      <Value><![CDATA[Financial Services]]></Value>
    </projectBoxText2>
    <projectBoxText3>
      <Value><![CDATA[Financial Services]]></Value>
    </projectBoxText3>
    <projectBoxText4>
      <Value><![CDATA[Financial Services]]></Value>
    </projectBoxText4>
    <projectHomeHeadline>
      <Value><![CDATA[Recent Projects]]></Value>
    </projectHomeHeadline>
    <projectHomeText>
      <Value><![CDATA[Our Projects]]></Value>
    </projectHomeText>
    <riskImage1>
      <Value><![CDATA[[
  {
    "key": "4900afa9-9b37-40d3-b390-7e8de7c2fac1",
    "mediaKey": "5df74c60-90d8-439a-869e-f3f310c062af",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </riskImage1>
    <riskImage2>
      <Value><![CDATA[[
  {
    "key": "680da066-e40a-4290-98c3-aa3a39e62260",
    "mediaKey": "9ff85232-8711-4a04-b174-0814a3226fa2",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </riskImage2>
    <riskImage3>
      <Value><![CDATA[[
  {
    "key": "e615c5bf-7473-49c2-84fa-674a66395486",
    "mediaKey": "fab352f1-ed08-436d-94b1-9d1e4d26c177",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </riskImage3>
    <riskImage4>
      <Value><![CDATA[[
  {
    "key": "01f5578b-1ca8-4b10-83c8-06b7adc3d023",
    "mediaKey": "a137e3c5-9ab6-4ca7-920b-eb1ed968a378",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </riskImage4>
    <riskImage5>
      <Value><![CDATA[[
  {
    "key": "29f3cbfa-e59f-4f12-b60b-9c948ba4b38b",
    "mediaKey": "b754cd13-3386-4ba3-abe6-ce545aa6fd81",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </riskImage5>
    <riskImage6>
      <Value><![CDATA[[
  {
    "key": "b1d93ae0-7545-40ef-a120-012c029debe1",
    "mediaKey": "b8c7117a-2d4a-4868-bd1f-54af669741a8",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </riskImage6>
    <riskImageText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </riskImageText>
    <serviceHeadline1>
      <Value><![CDATA[689]]></Value>
    </serviceHeadline1>
    <serviceHeadline2>
      <Value><![CDATA[370]]></Value>
    </serviceHeadline2>
    <serviceHeadline3>
      <Value><![CDATA[125]]></Value>
    </serviceHeadline3>
    <serviceStoryText1>
      <Value><![CDATA[More than 100 customers has been served]]></Value>
    </serviceStoryText1>
    <serviceStoryText2>
      <Value><![CDATA[More than 370 projects has been completed]]></Value>
    </serviceStoryText2>
    <serviceStoryText3>
      <Value><![CDATA[More than 125 branches has been established in Europe and America]]></Value>
    </serviceStoryText3>
    <storyImage>
      <Value><![CDATA[[
  {
    "key": "ec60c596-1392-488e-8f13-2dfdd9077d03",
    "mediaKey": "aa07802b-430a-4ad4-becd-23ced7138da5",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </storyImage>
    <storyTitleHeadline>
      <Value><![CDATA[Success story]]></Value>
    </storyTitleHeadline>
    <storyTitleText>
      <Value><![CDATA[success stories]]></Value>
    </storyTitleText>
  </Properties>
</Content>