<?xml version="1.0" encoding="utf-8"?>
<Content Key="7f34b993-fda6-402b-afe1-35350d0e2cf6" Alias="Projects - Page" Level="2">
  <Info>
    <Parent Key="76fce837-e3cf-4700-a9c0-0ba09722bda7">Home</Parent>
    <Path>/Home/ProjectsPage</Path>
    <Trashed>false</Trashed>
    <ContentType>projectsPage</ContentType>
    <CreateDate>2024-09-24T14:12:52</CreateDate>
    <NodeName Default="Projects - Page" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="583d5845-9775-43cf-86fc-765f0e311c53">projectsPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
    <projectContactHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </projectContactHeadline>
    <projectContactImage>
      <Value><![CDATA[[
  {
    "key": "c51ae993-80c2-409d-b170-43a56be11a9d",
    "mediaKey": "b081fadf-d447-459c-a285-53a24bc95c7d",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectContactImage>
    <projectContactText1>
      <Value><![CDATA[Office location]]></Value>
    </projectContactText1>
    <projectContactText2>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </projectContactText2>
    <projectContactText3>
      <Value><![CDATA[Phone number]]></Value>
    </projectContactText3>
    <projectContactText4>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </projectContactText4>
    <projectContactText5>
      <Value><![CDATA[E-mail address]]></Value>
    </projectContactText5>
    <projectContactText6>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </projectContactText6>
    <projectContentHeadline1>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </projectContentHeadline1>
    <projectContentHeadline10>
      <Value><![CDATA[How can we help you?]]></Value>
    </projectContentHeadline10>
    <projectContentHeadline2>
      <Value><![CDATA[Read more]]></Value>
    </projectContentHeadline2>
    <projectContentHeadline3>
      <Value><![CDATA[Business Insights for SP Group...]]></Value>
    </projectContentHeadline3>
    <projectContentHeadline4>
      <Value><![CDATA[Read more]]></Value>
    </projectContentHeadline4>
    <projectContentHeadline5>
      <Value><![CDATA[Financial Advisors for Irra Grou...]]></Value>
    </projectContentHeadline5>
    <projectContentHeadline6>
      <Value><![CDATA[Read more]]></Value>
    </projectContentHeadline6>
    <projectContentHeadline7>
      <Value><![CDATA[Budget Planning for Buccura In...]]></Value>
    </projectContentHeadline7>
    <projectContentHeadline8>
      <Value><![CDATA[Read more]]></Value>
    </projectContentHeadline8>
    <projectContentHeadline9>
      <Value><![CDATA[Tags]]></Value>
    </projectContentHeadline9>
    <projectContentImage1>
      <Value><![CDATA[[
  {
    "key": "66aa17e3-d51f-4277-86ef-801e1a893804",
    "mediaKey": "c2eb6e02-b72a-4e90-8918-0f2d504e4ed2",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectContentImage1>
    <projectContentImage2>
      <Value><![CDATA[[
  {
    "key": "548e2afe-3db8-4b9c-9075-be768bdcfd26",
    "mediaKey": "f7e47cbd-550e-401b-a27f-53d34abe5f11",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectContentImage2>
    <projectContentImage3>
      <Value><![CDATA[[
  {
    "key": "98343b93-48ea-440e-bb63-d56e8030e08c",
    "mediaKey": "430a2923-f874-4045-b79c-69aec44cf9e9",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectContentImage3>
    <projectContentImage4>
      <Value><![CDATA[[
  {
    "key": "c99041c0-3ddd-401c-8023-68ffb68141ec",
    "mediaKey": "f6a9dda3-35e2-4e9f-a1db-b1bac1ef507a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectContentImage4>
    <projectContentText1>
      <Value><![CDATA[June 15, 2024]]></Value>
    </projectContentText1>
    <projectContentText10>
      <Value><![CDATA[Business Plans]]></Value>
    </projectContentText10>
    <projectContentText11>
      <Value><![CDATA[Insights]]></Value>
    </projectContentText11>
    <projectContentText12>
      <Value><![CDATA[Business]]></Value>
    </projectContentText12>
    <projectContentText13>
      <Value><![CDATA[App]]></Value>
    </projectContentText13>
    <projectContentText14>
      <Value><![CDATA[Project]]></Value>
    </projectContentText14>
    <projectContentText15>
      <Value><![CDATA[Finance]]></Value>
    </projectContentText15>
    <projectContentText16>
      <Value><![CDATA[Pricing]]></Value>
    </projectContentText16>
    <projectContentText17>
      <Value><![CDATA[Online support 24/7, we are here to help you]]></Value>
    </projectContentText17>
    <projectContentText2>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectContentText2>
    <projectContentText3>
      <Value><![CDATA[May 17, 2024]]></Value>
    </projectContentText3>
    <projectContentText4>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectContentText4>
    <projectContentText5>
      <Value><![CDATA[February 6, 2024]]></Value>
    </projectContentText5>
    <projectContentText6>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectContentText6>
    <projectContentText7>
      <Value><![CDATA[January 3, 2024]]></Value>
    </projectContentText7>
    <projectContentText8>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectContentText8>
    <projectContentText9>
      <Value><![CDATA[Report]]></Value>
    </projectContentText9>
    <projectsLinkHome>
      <Value><![CDATA[Home]]></Value>
    </projectsLinkHome>
    <projectsLinkServices>
      <Value><![CDATA[Projects]]></Value>
    </projectsLinkServices>
    <projectsMainHeadline>
      <Value><![CDATA[Our Projects]]></Value>
    </projectsMainHeadline>
    <projectsMainImage>
      <Value><![CDATA[[
  {
    "key": "9cf78b3a-df98-4b52-809b-1b9edf601899",
    "mediaKey": "b8905adf-c318-496a-9b09-6904db291cce",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectsMainImage>
  </Properties>
</Content>