<?xml version="1.0" encoding="utf-8"?>
<Content Key="02ff866a-f494-4cf6-b4b8-628b7cbf2daa" Alias="Service - Page" Level="2">
  <Info>
    <Parent Key="76fce837-e3cf-4700-a9c0-0ba09722bda7">Home</Parent>
    <Path>/Home/ServicePage</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2024-09-23T14:15:25</CreateDate>
    <NodeName Default="Service - Page" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6d6d74fc-a3ed-448c-a606-2b2b0c207b9a">servicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <serviceBoxImage1>
      <Value><![CDATA[[
  {
    "key": "7c23903a-6a6b-493f-9286-858e792d47a3",
    "mediaKey": "5df74c60-90d8-439a-869e-f3f310c062af",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceBoxImage1>
    <serviceBoxImage2>
      <Value><![CDATA[[
  {
    "key": "8566cf79-406f-4a95-995b-4f34b1d9154b",
    "mediaKey": "9ff85232-8711-4a04-b174-0814a3226fa2",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceBoxImage2>
    <serviceBoxImage3>
      <Value><![CDATA[[
  {
    "key": "4977aea9-f296-4da1-b8dd-fc0998616390",
    "mediaKey": "fab352f1-ed08-436d-94b1-9d1e4d26c177",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceBoxImage3>
    <serviceBoxImage4>
      <Value><![CDATA[[
  {
    "key": "63e868d3-a85a-4a41-a37d-11e932269dab",
    "mediaKey": "a137e3c5-9ab6-4ca7-920b-eb1ed968a378",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceBoxImage4>
    <serviceBoxImage5>
      <Value><![CDATA[[
  {
    "key": "4de6ca18-e082-4a20-92b0-5a8a581af8eb",
    "mediaKey": "b754cd13-3386-4ba3-abe6-ce545aa6fd81",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceBoxImage5>
    <serviceBoxImage6>
      <Value><![CDATA[[
  {
    "key": "08ec7c54-3146-405d-84ae-74aa0f6c1642",
    "mediaKey": "b8c7117a-2d4a-4868-bd1f-54af669741a8",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceBoxImage6>
    <serviceBoxText1>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </serviceBoxText1>
    <serviceBoxText2>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </serviceBoxText2>
    <serviceBoxText3>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </serviceBoxText3>
    <serviceBoxText4>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </serviceBoxText4>
    <serviceBoxText5>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </serviceBoxText5>
    <serviceBoxText6>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </serviceBoxText6>
    <serviceEmailText>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </serviceEmailText>
    <serviceHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </serviceHeadline>
    <serviceHeadline1>
      <Value><![CDATA[Risk Management]]></Value>
    </serviceHeadline1>
    <serviceHeadline2>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </serviceHeadline2>
    <serviceHeadline3>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </serviceHeadline3>
    <serviceHeadline4>
      <Value><![CDATA[Tax & Trust]]></Value>
    </serviceHeadline4>
    <serviceHeadline5>
      <Value><![CDATA[Financial Advisor]]></Value>
    </serviceHeadline5>
    <serviceHeadline6>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </serviceHeadline6>
    <serviceLinkHome>
      <Value><![CDATA[Home]]></Value>
    </serviceLinkHome>
    <serviceLinkServices>
      <Value><![CDATA[Services]]></Value>
    </serviceLinkServices>
    <serviceLocationText1>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </serviceLocationText1>
    <serviceMainHeadline>
      <Value><![CDATA[Our Services]]></Value>
    </serviceMainHeadline>
    <serviceMainImage>
      <Value><![CDATA[[
  {
    "key": "fd84e728-9870-4122-91c0-8a4aa9d6ac6e",
    "mediaKey": "c01cd704-79be-4c7e-be75-170bf8b196c3",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceMainImage>
    <servicePhoneText>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </servicePhoneText>
    <serviceProjectEmail>
      <Value><![CDATA[E-mail address]]></Value>
    </serviceProjectEmail>
    <serviceProjectHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </serviceProjectHeadline>
    <serviceProjectImage>
      <Value><![CDATA[[
  {
    "key": "0c3ca1c5-5b63-4915-a189-71d96e6ed9b4",
    "mediaKey": "b081fadf-d447-459c-a285-53a24bc95c7d",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceProjectImage>
    <serviceProjectLocation>
      <Value><![CDATA[Office location]]></Value>
    </serviceProjectLocation>
    <serviceProjectPhone>
      <Value><![CDATA[Phone number]]></Value>
    </serviceProjectPhone>
  </Properties>
</Content>