<?xml version="1.0" encoding="utf-8"?>
<Media Key="c80a24ec-3b00-44fa-922b-f45c802373f3" Alias="Aaron Lambert.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AaronLambertsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-23T12:50:20</CreateDate>
    <NodeName Default="Aaron Lambert.svg" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/d0mlqkq1/aaron-lambert.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>