<?xml version="1.0" encoding="utf-8"?>
<Media Key="c744d363-30a5-4066-9438-4d88cd612220" Alias="Aj Carter.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AjCartersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-23T12:50:03</CreateDate>
    <NodeName Default="Aj Carter.svg" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sfxomjn4/aj-carter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>