<?xml version="1.0" encoding="utf-8"?>
<Media Key="fab352f1-ed08-436d-94b1-9d1e4d26c177" Alias="Assurance-Audits.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AssuranceAuditssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-20T14:55:15</CreateDate>
    <NodeName Default="Assurance-Audits.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/apxbcgat/assurance-audits.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>