<?xml version="1.0" encoding="utf-8"?>
<Media Key="9ff85232-8711-4a04-b174-0814a3226fa2" Alias="Bonds-Commodities.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BondsCommoditiessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-20T14:55:05</CreateDate>
    <NodeName Default="Bonds-Commodities.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ydxfu5ik/bonds-commodities.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>