<?xml version="1.0" encoding="utf-8"?>
<Media Key="c7522f4d-711d-4e44-b3d7-8c74f35d0c0c" Alias="Brandon.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brandonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-23T12:49:45</CreateDate>
    <NodeName Default="Brandon.svg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/x4jpajig/brandon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>