<?xml version="1.0" encoding="utf-8"?>
<Media Key="519a18ee-13f6-4594-bd13-01a608313d96" Alias="Brandon Kerr.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BrandonKerrsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-23T12:50:58</CreateDate>
    <NodeName Default="Brandon Kerr.svg" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dssdrm5n/brandon-kerr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>