<?xml version="1.0" encoding="utf-8"?>
<Media Key="f62f8de6-5ac8-4902-88d7-f84a9178fa74" Alias="dot-map 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/dotMap1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-20T15:29:44</CreateDate>
    <NodeName Default="dot-map 1.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cqyi0fgt/dot-map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>