<?xml version="1.0" encoding="utf-8"?>
<Media Key="b754cd13-3386-4ba3-abe6-ce545aa6fd81" Alias="Financial-Advisor.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FinancialAdvisorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-20T14:55:31</CreateDate>
    <NodeName Default="Financial-Advisor.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2fypmvm3/financial-advisor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>