<?xml version="1.0" encoding="utf-8"?>
<Media Key="f0d3f718-9409-4230-9b21-87ac0fc92b28" Alias="Hero.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Herosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T11:41:34</CreateDate>
    <NodeName Default="Hero.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3jfhceqs/hero.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>