<?xml version="1.0" encoding="utf-8"?>
<Media Key="85658503-4361-46c7-ad2d-51b7ca448684" Alias="image-21-min 2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image21Min2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T11:05:48</CreateDate>
    <NodeName Default="image-21-min 2.svg" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4e2moz10/image-21-min-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>