<?xml version="1.0" encoding="utf-8"?>
<Media Key="716163ed-332a-4e05-afec-47c15411172b" Alias="image-24-min 2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image24Min2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T11:05:02</CreateDate>
    <NodeName Default="image-24-min 2.svg" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/d5pmhezr/image-24-min-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>