<?xml version="1.0" encoding="utf-8"?>
<Media Key="b081fadf-d447-459c-a285-53a24bc95c7d" Alias="Img-5-e1695109900349 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Img5E16951099003491svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-23T13:12:41</CreateDate>
    <NodeName Default="Img-5-e1695109900349 1.svg" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fvddgus2/img-5-e1695109900349-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>