<?xml version="1.0" encoding="utf-8"?>
<Media Key="f99597ca-685a-40e5-8c3e-78ce186742e3" Alias="Img-47 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Img471svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T13:41:54</CreateDate>
    <NodeName Default="Img-47 1.svg" />
    <SortOrder>40</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/havdog0b/img-47-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>