<?xml version="1.0" encoding="utf-8"?>
<Media Key="86afc5f9-16b6-4e80-a189-87d43dffd36f" Alias="Img.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Imgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-23T09:00:11</CreateDate>
    <NodeName Default="Img.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bn2a0zfn/img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>