<?xml version="1.0" encoding="utf-8"?>
<Media Key="9722b860-f0a0-4c83-bdaf-c216fb27083a" Alias="Img.svg (3)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Imgsvg3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T13:27:35</CreateDate>
    <NodeName Default="Img.svg (3)" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sicja3n1/img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>