<?xml version="1.0" encoding="utf-8"?>
<Media Key="227bb8e2-9ff9-4fcb-8fe1-968120eb335a" Alias="Img.svg (4)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Imgsvg4</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-30T13:32:37</CreateDate>
    <NodeName Default="Img.svg (4)" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cacntqhc/img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>