<?xml version="1.0" encoding="utf-8"?>
<Media Key="b8905adf-c318-496a-9b09-6904db291cce" Alias="Img.svg (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Imgsvg2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T10:26:57</CreateDate>
    <NodeName Default="Img.svg (2)" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fxtdewqd/img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>