<?xml version="1.0" encoding="utf-8"?>
<Media Key="dcb32219-64d5-4b83-9d6d-705e3ab830a5" Alias="Kevin Gardner2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/KevinGardner2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-23T12:51:34</CreateDate>
    <NodeName Default="Kevin Gardner2.svg" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3opbcpwo/kevin-gardner2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>