<?xml version="1.0" encoding="utf-8"?>
<Media Key="f20061b6-0388-409f-9751-c4851ccda2b4" Alias="kevin-gardner.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-23T10:18:16</CreateDate>
    <NodeName Default="kevin-gardner.svg" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/itokeeet/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>