<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c18981b-5a40-4ab0-b023-dddddcb5ded3" Alias="laptop-dude.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/laptopDudesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T13:42:50</CreateDate>
    <NodeName Default="laptop-dude.svg" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3eslvps1/laptop-dude.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>