<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a9255f3-feac-4e22-b8a4-f32c92375669" Alias="map 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/map1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-30T13:44:51</CreateDate>
    <NodeName Default="map 1.svg" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ahudbkfx/map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>