<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ba2eca5-d08d-447c-89cf-a773c967f6cd" Alias="OnlineSignatures.net-302 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OnlineSignaturesnet3021svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T11:42:43</CreateDate>
    <NodeName Default="OnlineSignatures.net-302 1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/k3ibbsmw/onlinesignaturesnet-302-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>