<?xml version="1.0" encoding="utf-8"?>
<Media Key="c5a1e3b9-a6e3-47fd-954a-b541922dcdf3" Alias="Partners.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partnerssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-20T16:56:06</CreateDate>
    <NodeName Default="Partners.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jnpagj5y/partners.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>