<?xml version="1.0" encoding="utf-8"?>
<Media Key="f7e47cbd-550e-401b-a27f-53d34abe5f11" Alias="pj2 (1).svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pj21Svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T14:35:12</CreateDate>
    <NodeName Default="pj2 (1).svg" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/j5afmfiv/pj2-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>