<?xml version="1.0" encoding="utf-8"?>
<Media Key="430a2923-f874-4045-b79c-69aec44cf9e9" Alias="pj3 (1).svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pj31Svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T14:35:35</CreateDate>
    <NodeName Default="pj3 (1).svg" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0gkkrilp/pj3-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>