<?xml version="1.0" encoding="utf-8"?>
<Media Key="7cf1b99b-d8ec-4b4e-9bef-5b7b987bc49f" Alias="pj3.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pj3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-20T16:43:51</CreateDate>
    <NodeName Default="pj3.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/necfhhxx/pj3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>