<?xml version="1.0" encoding="utf-8"?>
<Media Key="c626a0ad-e5cb-4f11-9e92-2c6a274b8bab" Alias="pj4 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pj41svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T13:47:01</CreateDate>
    <NodeName Default="pj4 1.svg" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/l2ojijgq/pj4-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>