<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6a9dda3-35e2-4e9f-a1db-b1bac1ef507a" Alias="pj4 (1).svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pj41Svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T14:36:51</CreateDate>
    <NodeName Default="pj4 (1).svg" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kfqawfhz/pj4-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>