<?xml version="1.0" encoding="utf-8"?>
<Media Key="b5cbaa80-42c4-42bf-b6e9-a91374850bce" Alias="pj4.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pj4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-20T16:44:07</CreateDate>
    <NodeName Default="pj4.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oilhsv45/pj4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>