<?xml version="1.0" encoding="utf-8"?>
<Media Key="98435c5b-d3d1-4213-8b33-f4ac789bae12" Alias="post2 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/post21svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T11:07:10</CreateDate>
    <NodeName Default="post2 1.svg" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vhqpc4wk/post2-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>