<?xml version="1.0" encoding="utf-8"?>
<Media Key="22b4f13b-8e6b-43bd-be35-6957cc330a01" Alias="Rating.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ratingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-23T10:18:01</CreateDate>
    <NodeName Default="Rating.svg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zfgbnqdq/rating.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>