<?xml version="1.0" encoding="utf-8"?>
<Media Key="5df74c60-90d8-439a-869e-f3f310c062af" Alias="Risk-Managment.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RiskManagmentsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-20T14:54:55</CreateDate>
    <NodeName Default="Risk-Managment.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/slyflp4d/risk-managment.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>