<?xml version="1.0" encoding="utf-8"?>
<Media Key="b8c7117a-2d4a-4868-bd1f-54af669741a8" Alias="Statistic-Advisors.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/StatisticAdvisorssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-20T14:55:39</CreateDate>
    <NodeName Default="Statistic-Advisors.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rcwgkwsr/statistic-advisors.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>