<?xml version="1.0" encoding="utf-8"?>
<Media Key="7362a920-8cf6-431c-8d81-21f7cfa186a9" Alias="Tina Fox.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-23T09:48:12</CreateDate>
    <NodeName Default="Tina Fox.svg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0ikmbepn/tina-fox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>