<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d922240-a1b1-4af0-9bfd-a65507bb996c" Alias="Tina Fox.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TinaFoxsvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-23T09:53:36</CreateDate>
    <NodeName Default="Tina Fox.svg (1)" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wkpdbl3k/tina-fox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>