<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b4fdba5-6924-4f71-bafe-bebe2f7afe4c" Alias="Tina.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Tinasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-23T10:03:30</CreateDate>
    <NodeName Default="Tina.svg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/k3to1cj5/tina.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>