<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa07802b-430a-4ad4-becd-23ced7138da5" Alias="Video.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Videosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-20T16:16:03</CreateDate>
    <NodeName Default="Video.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1e4lksar/video.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>